.primary-color,
.text-primary {
    color: #ff712c !important;
}

.primary-color:hover,
.text-primary:hover {
    color: #ff712c !important;
}

a,
a:hover,
a:focus {
    color: #ff712c;
}

ul.featured-list li:before {
    color: #ff712c;
}

.header-toolbar .social-bar a:hover {
    color: #ff712c;
}

.header-toolbar .tools li ul li a:hover {
    color: #ff712c !important;
}

.header-toolbar .tools li:hover a {
    color: #ff712c;
}

.header-toolbar .tools li:hover a i {
    color: #ff712c;
}

.header .search i:hover {
    color: #ff712c;
}

.header .tools a:hover,
.header .tools a:focus {
    color: #ff712c;
}

.header .tools .signup:hover {
    background: #ff712c;
}

.header .tools .user:hover > a {
    color: #ff712c;
}

.header .user:hover > a {
    color: #ff712c;
}

.header .cart-btn {
    background-image: url(../../img/cart-btn/svg/cart-btn-ff712c.svg) !important;
}

.header .cart-btn .cart-dropdown .owl-prev div,
.header .cart-btn .cart-dropdown .owl-next div {
    background: #ff712c !important;
}

.header .cart-btn .cart-dropdown .item .delete:hover {
    background: #ff712c !important;
}

.header .cart-btn .cart-dropdown .item a .overlay,
.header .cart-btn .cart-dropdown .item .qnt-count .incr-btn:hover {
    background: #ff712c !important;
}

.header .cart-btn .cart-dropdown .item .qnt-count .incr-btn.inactive:hover {
    background: #e7ecee !important;
}

.header .quick-search {
    border-bottom: 1px solid #ff6013;
}

.header .quick-search .overlay {
    background: #ff712c;
}

.header .quick-search .search-field:focus::-moz-placeholder {
    color: #ff712c;
    opacity: 1;
}

.header .quick-search .search-field:focus:-ms-input-placeholder {
    color: #ff712c;
}

.header .quick-search .search-field:focus::-webkit-input-placeholder {
    color: #ff712c;
}

.header.transparent.opaque .inner .tools a:hover,
.header.transparent.opaque .inner .tools a:focus {
    color: #ff712c;
}

.header.transparent.opaque .inner .tools .signup:hover {
    background: #ff712c;
}

.no-svg .header .tools .cart-btn {
    background: url(../../img/cart-btn/png/cart-btn-ff712c.png) 0px 0px no-repeat !important;
}

.menu ul li a:hover,
.menu ul li a:focus {
    color: #ff712c;
}

.menu ul li.active a,
.menu ul li:hover a,
.menu ul li:focus a {
    color: #ff712c;
}

.menu ul li .submenu li:hover a,
.menu ul li .submenu li.active a,
.menu ul li .submenu li:focus a,
.menu ul li .submenu li a i {
    color: #ff712c;
}

.menu ul li .submenu li .sub-submenu li a:hover,
.menu ul li .submenu li .sub-submenu li.active a {
    color: #ff712c;
}

.transparent.opaque li:hover a,
.transparent.opaque li.active a {
    color: #ff712c;
}

.scroller .menu li a:after {
    background: #ff712c;
}

.mega-menu a:hover {
    border-bottom-color: #ff712c;
}

.mega-menu ul li.active a {
    color: #ff712c !important;
}

.mega-menu ul li a:hover {
    color: #ff712c !important;
}

.mega-menu .img-link:hover,
.mega-menu img-link.active {
    color: #ff712c !important;
}

#nav-toggle:hover span,
#nav-toggle:hover span:before,
#nav-toggle:hover span:after {
    background: #ff712c;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active:hover span:before,
#nav-toggle.active:hover span:after {
    background: #ff712c;
}

.mobile-navi .mobile-search button[type=submit]:hover i {
    color: #ff712c;
}

.mobile-navi a:hover,
.mobile-navi a:focus {
    color: #ff712c;
}

.mobile-navi ul li.current a {
    color: #ff712c;
}

.mobile-navi ul li span:hover {
    color: #ff712c;
}

.mobile-navi ul li ul.submenu li a:hover,
.mobile-navi ul li ul.submenu li a:focus {
    color: #ff712c;
}

.mobile-navi ul li ul.submenu li.current a {
    color: #ff712c;
}

.mobile-navi ul li ul.submenu li ul.sub-submenu li a:hover,
.mobile-navi ul li ul.submenu li ul.sub-submenu li a:focus {
    color: #ff712c;
}

.mobile-navi ul li ul.submenu li ul.sub-submenu li.current a {
    color: #ff712c;
}

.btn-primary {
    background: #ff712c;
}

.btn-primary:hover {
    background: #f85100;
}

.btn-transparent {
    background: rgba(255, 255, 255, 0.2);
}

.btn-transparent:hover {
    background: #fff;
}

.btn-transparent:hover.btn-primary {
    color: #ff712c !important;
}

.no-rgba .btn-transparent {
    background: #fff;
}

.no-rgba .btn-transparent.btn-primary {
    color: #ff712c !important;
}

.btn-outlined.btn-primary {
    background: transparent;
    border-color: #ff712c !important;
    color: #ff712c !important;
}

.btn-outlined.btn-primary:hover {
    background: #ff712c;
}

.submit-with-price {
    background: #ff712c;
}

.submit-with-price:hover {
    background: #f85100;
}

.checkbox .iradio.checked,
.radio .iradio.checked {
    border-color: #ff712c;
}

.checkbox .iradio.checked:after,
.radio .iradio.checked:after {
    background: #ff712c;
}

.checkbox .icheckbox.checked,
.radio .icheckbox.checked {
    border-color: #ff712c;
}

.checkbox .icheckbox.checked:after,
.radio .icheckbox.checked:after {
    color: #ff712c;
}

.light-version .submit-with-price:hover {
    color: #ff712c;
}

.form-3d .datePicker .datepicker .fa:hover {
    color: #ff712c !important;
    border-color: #ff712c !important;
}

.modal-header a {
    border-bottom-color: transparent;
}

.modal-header a:hover {
    color: #f85100;
    border-bottom-color: #f85100;
}

.modal-header .close {
    color: #ff712c;
}

.share-modal .modal-content .bar.mail {
    background: #ff712c;
}

.hero-static.fullscreen .overlay-block .opacity-70 {
    background: rgba(255, 113, 44, 0.7);
}

.hero-static.fullscreen .overlay-block .opacity-70 {
    background: rgba(255, 113, 44, 0.7);
}

.hero-static.fullscreen .overlay-block .opacity-97 {
    background: rgba(255, 113, 44, 0.97);
}

.hero-static.fullscreen .overlay-block #slide-up-toggle {
    background: #ff712c;
}

.fp-banner .meta a,
.fw-img-banner .meta a {
    color: #ff8246;
}

.fp-banner .meta a:hover,
.fw-img-banner .meta a:hover {
    border-bottom-color: #ff712c;
}

.category-bars a .overlay {
    background: #ff712c;
    background: rgba(255, 113, 44, 0.8);
}

.category-tiles .category:hover .overlay {
    background: #ff712c;
}

.recent-post h3 a:hover,
.blog .list-view .post h3 a:hover,
.search-results .post h3 a:hover,
.recent-post h4 a:hover,
.blog .list-view .post h4 a:hover,
.search-results .post h4 a:hover,
.recent-post h5 a:hover,
.blog .list-view .post h5 a:hover,
.search-results .post h5 a:hover {
    color: #ff712c;
}

.recent-post .meta a:hover,
.blog .list-view .post .meta a:hover,
.search-results .post .meta a:hover {
    color: #ff712c;
    border-color: #ff712c;
}

.blog .grid-view .post .featured-img .meta,
.search-results .grid-view .post .featured-img .meta {
    background: #ff712c;
    background: rgba(255, 113, 44, 0.8);
}

.blog .grid-view .post h3 a:hover,
.search-results .grid-view .post h3 a:hover {
    color: #ff712c;
}

.blog .grid-view .post .taxonomy a:hover,
.search-results .grid-view .post .taxonomy a:hover {
    color: #ff712c;
    border-color: #ff712c;
}

.post-controls .next-post:hover,
.post-controls .prev-post:hover {
    color: #f85100;
}

.post-meta .taxonomy a:hover {
    border-color: #ff712c;
}

.post-meta .post-toolbox .buttons a:hover {
    background: #ff712c;
    border-color: #ff712c;
}

.archive-list li a:hover {
    color: #f85100;
}

.catalog-grid .badge.sale {
    background: #ff712c;
}

.catalog-grid .item .share-opts a.mail {
    background: #ff712c;
}

.catalog-grid .item .share-opts a.mail:hover {
    background: #f85100;
}

.catalog-grid .item footer .tools a:hover,
.catalog-grid .item footer .tools a.share-btn.active {
    background: #ff712c;
    border-color: #ff712c;
}

.catalog-grid .item footer .tools a.add-cart {
    background: #ff712c;
    border-color: #ff712c;
}

.catalog-grid .item footer .tools a.add-cart:hover {
    background: #f85100;
}

.catalog-grid.type-1 .item footer p {
    color: #ff712c;
}

.catalog-list .item h3 a:hover {
    color: #ff712c;
}

.catalog-list .item footer .tools a:hover,
.catalog-list .item footer .tools a.share-btn.active {
    background: #ff712c;
    border-color: #ff712c;
}

.catalog-list .item footer .tools a.add-cart {
    background: #ff712c;
    border-color: #ff712c;
}

.catalog-list .item footer .tools a.add-cart:hover {
    background: #f85100;
}

.shopping-cart .item .details a:hover {
    color: #ff712c;
}

.shopping-cart .qnt-count .incr-btn:hover {
    background: #ff712c;
}

.shopping-cart .qnt-count .incr-btn.inactive:hover {
    background: #e7ecee;
}

.size-switcher .iradio.checked {
    background: #ff712c;
    border-color: #ff712c;
}

.sp-tools .qnt-count .incr-btn:hover {
    background: #ff712c;
}

.sp-tools .qnt-count .incr-btn.inactive:hover {
    background: #e7ecee;
}

.info-tile-radio .tile label span.pricing {
    color: #ff712c;
}

.info-tile-radio .tile .iradio.checked {
    border-color: #ff712c;
}

.tracking-timeline .timeline .checkpoint span.active {
    background: #ff712c;
}

.tracking-timeline .timeline .checkpoint.active {
    background: #ff712c;
}

.deliv-method .icon:before {
    color: #ff712c;
}

.shop-history .panel-group .panel .panel-heading .panel-title h3 a:hover {
    color: #ff712c;
}

.shop-history .panel-group .panel .panel-heading .badge.primary {
    background: #ff712c;
}

.specialty-page .error-numb {
    color: #ff712c;
}

.sp-form button[type=submit]:hover i {
    color: #ff712c;
}

.big-links li a span {
    color: #ff712c;
}

.big-links li a:hover {
    color: #ff712c;
}

.team-member .img .social-strip {
    background: #ff712c;
    background: rgba(255, 113, 44, 0.8);
}

.team-member .social-icons a {
    background: #ff712c;
}

.team-member .social-icons a:hover {
    background: #f85100;
}

.team-member-img .social {
    background: #ff712c;
    background: rgba(255, 113, 44, 0.8);
}

.user-account label span {
    color: #ff712c;
}

.account-settings .pass-block.expanded {
    background: #ff712c;
}

.account-settings .pass-block.expanded .close:hover {
    color: #ff712c;
}

.account-settings .user-avatar .upload {
    background: #ff712c;
    background: rgba(255, 113, 44, 0.8);
}

.account-settings .user-avatar .delete:hover {
    background: #ff712c;
    background: rgba(255, 113, 44, 0.8);
}

.schedule .event {
    background: #ff712c;
}

.schedule .event::before {
    background: #ff712c;
}

.schedule .event:hover,
.schedule .event:focus {
    color: #ff712c;
}

.coming-soon-tile {
    background: #ff712c;
}

.sidebar .widget.featured-posts .post h4 a:hover,
.sidebar .widget.featured-posts .post h5 a:hover {
    color: #ff712c;
}

.sidebar .widget.featured-posts .post .meta a:hover {
    color: #ff712c;
    border-bottom-color: #ff712c;
}

.sidebar .widget.categories .category .cat-text h4 a:hover {
    color: #ff712c;
}

.sidebar .widget.search form button[type=submit]:hover i {
    color: #ff712c;
}

.sidebar .widget.subscribe form button[type=submit] {
    background: #ff712c;
}

.sidebar .widget.subscribe form button[type=submit]:hover {
    background: #f85100;
}

.sidebar .widget.shop-categories a:hover,
.sidebar .widget.shop-links a:hover {
    color: #ff712c;
}

.sidebar .widget.shop-categories .all a,
.sidebar .widget.shop-links .all a {
    color: #ff712c;
}

.sidebar .widget.shop-categories .all a:hover,
.sidebar .widget.shop-links .all a:hover {
    border-color: #ff712c;
}

.sidebar .widget.shop-filters .clear {
    color: #ff712c;
}

.sidebar .widget.shop-filters .clear:hover {
    border-bottom-color: #ff712c;
}

.sidebar .widget.cart-content .item h4 a:hover {
    color: #ff712c;
}

.sidebar .widget.cart-content .item .price span {
    color: #ff712c;
}

.sidebar .widget.cart-content .item .qnt-count .incr-btn:hover {
    background: #ff712c;
}

.sidebar-button {
    background: #ff712c;
}

.sidebar-button:hover {
    background: #f85100;
}

.ms-staff-carousel .ms-staff-info .ms-socials a {
    background: #ff712c;
}

.ms-staff-carousel .ms-staff-info .ms-socials a:hover {
    background: #f85100;
}

.ms-skin-default .ms-caption {
    background: #ff712c;
    background: rgba(255, 113, 44, 0.75);
}

.ms-showcase .ms-layer.product-price {
    color: #ff712c;
}

.package-carousel .owl-prev div,
.package-carousel .owl-next div {
    background: #ff712c;
}

.nav-tabs li a span {
    color: #ff712c;
}

.nav-tabs.vertical li a:after {
    background: #ff712c;
}

.nav-tabs.vertical li a:hover {
    color: #ff712c;
}

.nav-tabs.vertical li.active a,
.nav-tabs.vertical li.active a:hover,
.nav-tabs.vertical li.active a:focus {
    color: #ff712c !important;
}

.panel .panel-heading a:hover {
    color: #ff712c;
}

.panel-primary .panel-heading {
    background: #ff712c;
    border-bottom-color: #ff712c;
}

.info-box.primary {
    background: #ff712c;
}

.info-string {
    background: #ff712c;
}

.pricing-plan.type-2.active {
    border-color: #ff712c;
}

.pricing-plan.type-2.active header {
    background: #ff712c;
}

.harmonic .item .image {
    border-color: #ff712c;
}

.filters li:hover a {
    color: #ff712c;
}

.filters li.current a {
    background-color: #ff712c;
    color: #fff;
}

.gallery-grid.masonry .item {
    background: #ff712c;
}

.gallery-grid.masonry .item figure.effect-02 {
    background: #ff712c;
    background: -webkit-linear-gradient(top, #ff712c 0%, rgba(255, 255, 255, 0.4) 100%);
    background: linear-gradient(to bottom, #ff712c 0%, rgba(255, 255, 255, 0.4) 100%);
}

.countdown span {
    color: #ff712c;
}

.tile-btn .inner {
    border-color: #ff712c;
}

.tile-btn:after {
    background: #ff712c;
}

.image-3d.primary:after,
.thumbnail-3d.primary:after {
    background: #ff712c;
}

.image-3d.primary img,
.thumbnail-3d.primary img {
    border-color: #ff712c;
}

.thumbnail-zoom .overlay,
.thumbnail-link .overlay {
    background: #ff712c;
}

.toolbox .heading .back-btn:hover {
    background: #ff712c;
}

.toolbox .layout-view a.grid.active span:before,
.toolbox .layout-view a.grid:hover span:before,
.toolbox .layout-view a.grid.active span:after,
.toolbox .layout-view a.grid:hover span:after {
    background: #ff712c;
}

.toolbox .layout-view a.list.active span:before,
.toolbox .layout-view a.list:hover span:before,
.toolbox .layout-view a.list.active span:after,
.toolbox .layout-view a.list:hover span:after {
    background: #ff712c;
}

.breadcrumb li a:hover {
    border-bottom-color: #ff712c;
}

.sorting .sort li a:hover {
    color: #ff712c;
}

.sorting .sort li.active a {
    color: #ff712c;
}

.pagination li.active a {
    background: #ff712c;
    color: #fff !important;
}

.datepicker .prev:hover,
.datepicker .next:hover {
    color: #ff712c;
}

.datepicker table tr td.selected,
.datepicker table tr td.selected:hover,
.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected.disabled:hover {
    background-color: #ff712c;
}

.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.today {
    background-color: #ff712c;
}

.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active[disabled],
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active.disabled:hover[disabled],
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active {
    background-color: #ff712c;
}

.datepicker table tr td span.active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover {
    background-color: #ff712c;
}

.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active:hover.disabled,
.datepicker table tr td span.active.disabled.disabled,
.datepicker table tr td span.active.disabled:hover.disabled,
.datepicker table tr td span.active[disabled],
.datepicker table tr td span.active:hover[disabled],
.datepicker table tr td span.active.disabled[disabled],
.datepicker table tr td span.active.disabled:hover[disabled],
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active {
    background-color: #ff712c;
}

.datepicker th.datepicker-switch:hover {
    color: #ff712c;
}

.datepicker thead tr:last-child,
.datepicker tbody tr {
    border-bottom-color: #ff712c;
}

.info-block .close:hover {
    background: #ff712c;
}

.icon-block a:hover {
    color: #ff712c;
}

.featured-icon.icon-alt.rounded.primary {
    background: #ff712c;
}

.featured-icon.icon-alt.circle.primary {
    background: #ff712c;
}

.sticky-btns span {
    background: #ff712c;
}

.sticky-btns span:hover {
    background: #f85100;
}

.noUi-connect {
    background: #ff712c;
}

.ih-item.circle .img:before {
    box-shadow: inset 0 0 0 16px rgba(255, 113, 44, 0.5), 0 1px 2px rgba(255, 113, 44, 0.3);
}

.footer .featured-post h4 a:hover,
.footer .category h4 a:hover,
.footer .contacts h4 a:hover,
.footer .featured-post h5 a:hover,
.footer .category h5 a:hover,
.footer .contacts h5 a:hover {
    color: #ff712c;
    border-bottom-color: #ff712c;
}

.footer .featured-post .meta a:hover,
.footer .category .meta a:hover,
.footer .contacts .meta a:hover {
    color: #ff712c;
    border-bottom-color: #ff712c;
}

.footer .contacts .social-bar a:hover {
    color: #f85100;
}

.footer .subscribe form button[type=submit] {
    background: #ff712c;
}

.footer .subscribe form button[type=submit]:hover {
    background: #f85100;
}

.footer .copyright p a:hover {
    color: #ff712c;
    border-bottom: 1px solid #ff712c;
}

.icon-apple:after,
.icon-auto-washing:after,
.icon-bag:after,
.icon-browser:after,
.icon-chart:after,
.icon-church:after,
.icon-ufo:after,
.icon-comments:after,
.icon-constellation:after,
.icon-dental:after,
.icon-dollar:after,
.icon-equalizer:after,
.icon-headphones-2:after,
.icon-iron-1:after,
.icon-iron-2:after,
.icon-iron-3:after,
.icon-like:after,
.icon-map:after,
.icon-money:after,
.icon-moon:after,
.icon-no-handwashing:after,
.icon-no-spin:after,
.icon-notebook:after,
.icon-office:after,
.icon-piano:after,
.icon-rocket:after,
.icon-scale-1:after,
.icon-scale-2:after,
.icon-search:after,
.icon-spatula:after,
.icon-telescope:after,
.icon-tooth:after,
.icon-tree:after {
    color: #ff712c;
}

.icon-camera:before,
.icon-capitol:before,
.icon-cassete:before,
.icon-globe:before,
.icon-hammer:before,
.icon-handwashing:before,
.icon-headphones-1:before,
.icon-holder:before,
.icon-house:before,
.icon-ipad:before,
.icon-lamp:before,
.icon-lens:before,
.icon-music:before,
.icon-phone:before,
.icon-roller:before,
.icon-rover:before,
.icon-space-helmet:before,
.icon-university-hat:before,
.icon-window:before {
    color: #ff712c;
}
