.primary-color, .text-primary {
    color: #9456ba !important
}

.primary-color:hover, .text-primary:hover {
    color: #9456ba !important
}

a, a:hover, a:focus {
    color: #9456ba
}

ul.featured-list li:before {
    color: #9456ba
}

.header-toolbar .social-bar a:hover {
    color: #9456ba
}

.header-toolbar .tools li ul li a:hover {
    color: #9456ba !important
}

.header-toolbar .tools li:hover a {
    color: #9456ba
}

.header-toolbar .tools li:hover a i {
    color: #9456ba
}

.header .search i:hover {
    color: #9456ba
}

.header .tools a:hover, .header .tools a:focus {
    color: #9456ba
}

.header .tools .signup:hover {
    background: #9456ba
}

.header .tools .user:hover > a {
    color: #9456ba
}

.header .user:hover > a {
    color: #9456ba
}

.header .cart-btn {
    background-image: url(../../img/cart-btn/svg/cart-btn-9456ba.svg) !important
}

.header .cart-btn .cart-dropdown .owl-prev div, .header .cart-btn .cart-dropdown .owl-next div {
    background: #9456ba !important
}

.header .cart-btn .cart-dropdown .item .delete:hover {
    background: #9456ba !important
}

.header .cart-btn .cart-dropdown .item a .overlay, .header .cart-btn .cart-dropdown .item .qnt-count .incr-btn:hover {
    background: #9456ba !important
}

.header .cart-btn .cart-dropdown .item .qnt-count .incr-btn.inactive:hover {
    background: #e7ecee !important
}

.header .quick-search {
    border-bottom: 1px solid #8847af
}

.header .quick-search .overlay {
    background: #9456ba
}

.header .quick-search .search-field:focus::-moz-placeholder {
    color: #9456ba;
    opacity: 1
}

.header .quick-search .search-field:focus:-ms-input-placeholder {
    color: #9456ba
}

.header .quick-search .search-field:focus::-webkit-input-placeholder {
    color: #9456ba
}

.header.transparent.opaque .inner .tools a:hover, .header.transparent.opaque .inner .tools a:focus {
    color: #9456ba
}

.header.transparent.opaque .inner .tools .signup:hover {
    background: #9456ba
}

.no-svg .header .tools .cart-btn {
    background: url(../../img/cart-btn/png/cart-btn-9456ba.png) 0 0 no-repeat !important
}

.menu ul li a:hover, .menu ul li a:focus {
    color: #9456ba
}

.menu ul li.active a, .menu ul li:hover a, .menu ul li:focus a {
    color: #9456ba
}

.menu ul li .submenu li:hover a, .menu ul li .submenu li.active a, .menu ul li .submenu li:focus a, .menu ul li .submenu li a i {
    color: #9456ba
}

.menu ul li .submenu li .sub-submenu li a:hover, .menu ul li .submenu li .sub-submenu li.active a {
    color: #9456ba
}

.transparent.opaque li:hover a, .transparent.opaque li.active a {
    color: #9456ba
}

.scroller .menu li a:after {
    background: #9456ba
}

.mega-menu a:hover {
    border-bottom-color: #9456ba
}

.mega-menu ul li.active a {
    color: #9456ba !important
}

.mega-menu ul li a:hover {
    color: #9456ba !important
}

.mega-menu .img-link:hover, .mega-menu img-link.active {
    color: #9456ba !important
}

#nav-toggle:hover span, #nav-toggle:hover span:before, #nav-toggle:hover span:after {
    background: #9456ba
}

#nav-toggle.active span {
    background-color: transparent
}

#nav-toggle.active:hover span:before, #nav-toggle.active:hover span:after {
    background: #9456ba
}

.mobile-navi .mobile-search button[type=submit]:hover i {
    color: #9456ba
}

.mobile-navi a:hover, .mobile-navi a:focus {
    color: #9456ba
}

.mobile-navi ul li.current a {
    color: #9456ba
}

.mobile-navi ul li span:hover {
    color: #9456ba
}

.mobile-navi ul li ul.submenu li a:hover, .mobile-navi ul li ul.submenu li a:focus {
    color: #9456ba
}

.mobile-navi ul li ul.submenu li.current a {
    color: #9456ba
}

.mobile-navi ul li ul.submenu li ul.sub-submenu li a:hover, .mobile-navi ul li ul.submenu li ul.sub-submenu li a:focus {
    color: #9456ba
}

.mobile-navi ul li ul.submenu li ul.sub-submenu li.current a {
    color: #9456ba
}

.btn-primary {
    background: #9456ba
}

.btn-primary:hover {
    background: #7a409d
}

.btn-transparent {
    background: rgba(255, 255, 255, 0.2)
}

.btn-transparent:hover {
    background: #fff
}

.btn-transparent:hover.btn-primary {
    color: #9456ba !important
}

.no-rgba .btn-transparent {
    background: #fff
}

.no-rgba .btn-transparent.btn-primary {
    color: #9456ba !important
}

.btn-outlined.btn-primary {
    background: transparent;
    border-color: #9456ba !important;
    color: #9456ba !important
}

.btn-outlined.btn-primary:hover {
    background: #9456ba
}

.submit-with-price {
    background: #9456ba
}

.submit-with-price:hover {
    background: #7a409d
}

.checkbox .iradio.checked, .radio .iradio.checked {
    border-color: #9456ba
}

.checkbox .iradio.checked:after, .radio .iradio.checked:after {
    background: #9456ba
}

.checkbox .icheckbox.checked, .radio .icheckbox.checked {
    border-color: #9456ba
}

.checkbox .icheckbox.checked:after, .radio .icheckbox.checked:after {
    color: #9456ba
}

.light-version .submit-with-price:hover {
    color: #9456ba
}

.form-3d .datePicker .datepicker .fa:hover {
    color: #9456ba !important;
    border-color: #9456ba !important
}

.modal-header a {
    border-bottom-color: transparent
}

.modal-header a:hover {
    color: #7a409d;
    border-bottom-color: #7a409d
}

.modal-header .close {
    color: #9456ba
}

.share-modal .modal-content .bar.mail {
    background: #9456ba
}

.hero-static.fullscreen .overlay-block .opacity-70 {
    background: rgba(148, 86, 186, 0.7)
}

.hero-static.fullscreen .overlay-block .opacity-70 {
    background: rgba(148, 86, 186, 0.7)
}

.hero-static.fullscreen .overlay-block .opacity-97 {
    background: rgba(148, 86, 186, 0.97)
}

.hero-static.fullscreen .overlay-block #slide-up-toggle {
    background: #9456ba
}

.fp-banner .meta a, .fw-img-banner .meta a {
    color: #9f68c1
}

.fp-banner .meta a:hover, .fw-img-banner .meta a:hover {
    border-bottom-color: #9456ba
}

.category-bars a .overlay {
    background: #9456ba;
    background: rgba(148, 86, 186, 0.8)
}

.category-tiles .category:hover .overlay {
    background: #9456ba
}

.recent-post h3 a:hover, .blog .list-view .post h3 a:hover, .search-results .post h3 a:hover, .recent-post h4 a:hover, .blog .list-view .post h4 a:hover, .search-results .post h4 a:hover, .recent-post h5 a:hover, .blog .list-view .post h5 a:hover, .search-results .post h5 a:hover {
    color: #9456ba
}

.recent-post .meta a:hover, .blog .list-view .post .meta a:hover, .search-results .post .meta a:hover {
    color: #9456ba;
    border-color: #9456ba
}

.blog .grid-view .post .featured-img .meta, .search-results .grid-view .post .featured-img .meta {
    background: #9456ba;
    background: rgba(148, 86, 186, 0.8)
}

.blog .grid-view .post h3 a:hover, .search-results .grid-view .post h3 a:hover {
    color: #9456ba
}

.blog .grid-view .post .taxonomy a:hover, .search-results .grid-view .post .taxonomy a:hover {
    color: #9456ba;
    border-color: #9456ba
}

.post-controls .next-post:hover, .post-controls .prev-post:hover {
    color: #7a409d
}

.post-meta .taxonomy a:hover {
    border-color: #9456ba
}

.post-meta .post-toolbox .buttons a:hover {
    background: #9456ba;
    border-color: #9456ba
}

.archive-list li a:hover {
    color: #7a409d
}

.catalog-grid .badge.sale {
    background: #9456ba
}

.catalog-grid .item .share-opts a.mail {
    background: #9456ba
}

.catalog-grid .item .share-opts a.mail:hover {
    background: #7a409d
}

.catalog-grid .item footer .tools a:hover, .catalog-grid .item footer .tools a.share-btn.active {
    background: #9456ba;
    border-color: #9456ba
}

.catalog-grid .item footer .tools a.add-cart {
    background: #9456ba;
    border-color: #9456ba
}

.catalog-grid .item footer .tools a.add-cart:hover {
    background: #7a409d
}

.catalog-grid.type-1 .item footer p {
    color: #9456ba
}

.catalog-list .item h3 a:hover {
    color: #9456ba
}

.catalog-list .item footer .tools a:hover, .catalog-list .item footer .tools a.share-btn.active {
    background: #9456ba;
    border-color: #9456ba
}

.catalog-list .item footer .tools a.add-cart {
    background: #9456ba;
    border-color: #9456ba
}

.catalog-list .item footer .tools a.add-cart:hover {
    background: #7a409d
}

.shopping-cart .item .details a:hover {
    color: #9456ba
}

.shopping-cart .qnt-count .incr-btn:hover {
    background: #9456ba
}

.shopping-cart .qnt-count .incr-btn.inactive:hover {
    background: #e7ecee
}

.size-switcher .iradio.checked {
    background: #9456ba;
    border-color: #9456ba
}

.sp-tools .qnt-count .incr-btn:hover {
    background: #9456ba
}

.sp-tools .qnt-count .incr-btn.inactive:hover {
    background: #e7ecee
}

.info-tile-radio .tile label span.pricing {
    color: #9456ba
}

.info-tile-radio .tile .iradio.checked {
    border-color: #9456ba
}

.tracking-timeline .timeline .checkpoint span.active {
    background: #9456ba
}

.tracking-timeline .timeline .checkpoint.active {
    background: #9456ba
}

.deliv-method .icon:before {
    color: #9456ba
}

.shop-history .panel-group .panel .panel-heading .panel-title h3 a:hover {
    color: #9456ba
}

.shop-history .panel-group .panel .panel-heading .badge.primary {
    background: #9456ba
}

.specialty-page .error-numb {
    color: #9456ba
}

.sp-form button[type=submit]:hover i {
    color: #9456ba
}

.big-links li a span {
    color: #9456ba
}

.big-links li a:hover {
    color: #9456ba
}

.team-member .img .social-strip {
    background: #9456ba;
    background: rgba(148, 86, 186, 0.8)
}

.team-member .social-icons a {
    background: #9456ba
}

.team-member .social-icons a:hover {
    background: #7a409d
}

.team-member-img .social {
    background: #9456ba;
    background: rgba(148, 86, 186, 0.8)
}

.user-account label span {
    color: #9456ba
}

.account-settings .pass-block.expanded {
    background: #9456ba
}

.account-settings .pass-block.expanded .close:hover {
    color: #9456ba
}

.account-settings .user-avatar .upload {
    background: #9456ba;
    background: rgba(148, 86, 186, 0.8)
}

.account-settings .user-avatar .delete:hover {
    background: #9456ba;
    background: rgba(148, 86, 186, 0.8)
}

.schedule .event {
    background: #9456ba
}

.schedule .event::before {
    background: #9456ba
}

.schedule .event:hover, .schedule .event:focus {
    color: #9456ba
}

.coming-soon-tile {
    background: #9456ba
}

.sidebar .widget.featured-posts .post h4 a:hover, .sidebar .widget.featured-posts .post h5 a:hover {
    color: #9456ba
}

.sidebar .widget.featured-posts .post .meta a:hover {
    color: #9456ba;
    border-bottom-color: #9456ba
}

.sidebar .widget.categories .category .cat-text h4 a:hover {
    color: #9456ba
}

.sidebar .widget.search form button[type=submit]:hover i {
    color: #9456ba
}

.sidebar .widget.subscribe form button[type=submit] {
    background: #9456ba
}

.sidebar .widget.subscribe form button[type=submit]:hover {
    background: #7a409d
}

.sidebar .widget.shop-categories a:hover, .sidebar .widget.shop-links a:hover {
    color: #9456ba
}

.sidebar .widget.shop-categories .all a, .sidebar .widget.shop-links .all a {
    color: #9456ba
}

.sidebar .widget.shop-categories .all a:hover, .sidebar .widget.shop-links .all a:hover {
    border-color: #9456ba
}

.sidebar .widget.shop-filters .clear {
    color: #9456ba
}

.sidebar .widget.shop-filters .clear:hover {
    border-bottom-color: #9456ba
}

.sidebar .widget.cart-content .item h4 a:hover {
    color: #9456ba
}

.sidebar .widget.cart-content .item .price span {
    color: #9456ba
}

.sidebar .widget.cart-content .item .qnt-count .incr-btn:hover {
    background: #9456ba
}

.sidebar-button {
    background: #9456ba
}

.sidebar-button:hover {
    background: #7a409d
}

.ms-staff-carousel .ms-staff-info .ms-socials a {
    background: #9456ba
}

.ms-staff-carousel .ms-staff-info .ms-socials a:hover {
    background: #7a409d
}

.ms-skin-default .ms-caption {
    background: #9456ba;
    background: rgba(148, 86, 186, 0.75)
}

.ms-showcase .ms-layer.product-price {
    color: #9456ba
}

.package-carousel .owl-prev div, .package-carousel .owl-next div {
    background: #9456ba
}

.nav-tabs li a span {
    color: #9456ba
}

.nav-tabs.vertical li a:after {
    background: #9456ba
}

.nav-tabs.vertical li a:hover {
    color: #9456ba
}

.nav-tabs.vertical li.active a, .nav-tabs.vertical li.active a:hover, .nav-tabs.vertical li.active a:focus {
    color: #9456ba !important
}

.panel .panel-heading a:hover {
    color: #9456ba
}

.panel-primary .panel-heading {
    background: #9456ba;
    border-bottom-color: #9456ba
}

.info-box.primary {
    background: #9456ba
}

.info-string {
    background: #9456ba
}

.pricing-plan.type-2.active {
    border-color: #9456ba
}

.pricing-plan.type-2.active header {
    background: #9456ba
}

.harmonic .item .image {
    border-color: #9456ba
}

.filters li:hover a {
    color: #9456ba
}

.filters li.current a {
    background-color: #9456ba;
    color: #fff
}

.gallery-grid.masonry .item {
    background: #9456ba
}

.gallery-grid.masonry .item figure.effect-02 {
    background: #9456ba;
    background: -webkit-linear-gradient(top, #9456ba 0, rgba(255, 255, 255, 0.4) 100%);
    background: linear-gradient(to bottom, #9456ba 0, rgba(255, 255, 255, 0.4) 100%)
}

.countdown span {
    color: #9456ba
}

.tile-btn .inner {
    border-color: #9456ba
}

.tile-btn:after {
    background: #9456ba
}

.image-3d.primary:after, .thumbnail-3d.primary:after {
    background: #9456ba
}

.image-3d.primary img, .thumbnail-3d.primary img {
    border-color: #9456ba
}

.thumbnail-zoom .overlay, .thumbnail-link .overlay {
    background: #9456ba
}

.toolbox .heading .back-btn:hover {
    background: #9456ba
}

.toolbox .layout-view a.grid.active span:before, .toolbox .layout-view a.grid:hover span:before, .toolbox .layout-view a.grid.active span:after, .toolbox .layout-view a.grid:hover span:after {
    background: #9456ba
}

.toolbox .layout-view a.list.active span:before, .toolbox .layout-view a.list:hover span:before, .toolbox .layout-view a.list.active span:after, .toolbox .layout-view a.list:hover span:after {
    background: #9456ba
}

.breadcrumb li a:hover {
    border-bottom-color: #9456ba
}

.sorting .sort li a:hover {
    color: #9456ba
}

.sorting .sort li.active a {
    color: #9456ba
}

.pagination li.active a {
    background: #9456ba;
    color: #fff !important
}

.datepicker .prev:hover, .datepicker .next:hover {
    color: #9456ba
}

.datepicker table tr td.selected, .datepicker table tr td.selected:hover, .datepicker table tr td.selected.disabled, .datepicker table tr td.selected.disabled:hover {
    background-color: #9456ba
}

.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.today {
    background-color: #9456ba
}

.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active[disabled], .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active.disabled:hover[disabled], .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active {
    background-color: #9456ba
}

.datepicker table tr td span.active, .datepicker table tr td span.active:hover, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active.disabled:hover {
    background-color: #9456ba
}

.datepicker table tr td span.active:hover, .datepicker table tr td span.active:hover:hover, .datepicker table tr td span.active.disabled:hover, .datepicker table tr td span.active.disabled:hover:hover, .datepicker table tr td span.active:active, .datepicker table tr td span.active:hover:active, .datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active.active, .datepicker table tr td span.active:hover.active, .datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled:hover.active, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active:hover.disabled, .datepicker table tr td span.active.disabled.disabled, .datepicker table tr td span.active.disabled:hover.disabled, .datepicker table tr td span.active[disabled], .datepicker table tr td span.active:hover[disabled], .datepicker table tr td span.active.disabled[disabled], .datepicker table tr td span.active.disabled:hover[disabled], .datepicker table tr td span.active:active, .datepicker table tr td span.active:hover:active, .datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active.active, .datepicker table tr td span.active:hover.active, .datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled:hover.active {
    background-color: #9456ba
}

.datepicker th.datepicker-switch:hover {
    color: #9456ba
}

.datepicker thead tr:last-child, .datepicker tbody tr {
    border-bottom-color: #9456ba
}

.info-block .close:hover {
    background: #9456ba
}

.icon-block a:hover {
    color: #9456ba
}

.featured-icon.icon-alt.rounded.primary {
    background: #9456ba
}

.featured-icon.icon-alt.circle.primary {
    background: #9456ba
}

.sticky-btns span {
    background: #9456ba
}

.sticky-btns span:hover {
    background: #7a409d
}

.noUi-connect {
    background: #9456ba
}

.ih-item.circle .img:before {
    box-shadow: inset 0 0 0 16px rgba(148, 86, 186, 0.5), 0 1px 2px rgba(148, 86, 186, 0.3)
}

.footer .featured-post h4 a:hover, .footer .category h4 a:hover, .footer .contacts h4 a:hover, .footer .featured-post h5 a:hover, .footer .category h5 a:hover, .footer .contacts h5 a:hover {
    color: #9456ba;
    border-bottom-color: #9456ba
}

.footer .featured-post .meta a:hover, .footer .category .meta a:hover, .footer .contacts .meta a:hover {
    color: #9456ba;
    border-bottom-color: #9456ba
}

.footer .contacts .social-bar a:hover {
    color: #7a409d
}

.footer .subscribe form button[type=submit] {
    background: #9456ba
}

.footer .subscribe form button[type=submit]:hover {
    background: #7a409d
}

.footer .copyright p a:hover {
    color: #9456ba;
    border-bottom: 1px solid #9456ba
}

.icon-apple:after, .icon-auto-washing:after, .icon-bag:after, .icon-browser:after, .icon-chart:after, .icon-church:after, .icon-ufo:after, .icon-comments:after, .icon-constellation:after, .icon-dental:after, .icon-dollar:after, .icon-equalizer:after, .icon-headphones-2:after, .icon-iron-1:after, .icon-iron-2:after, .icon-iron-3:after, .icon-like:after, .icon-map:after, .icon-money:after, .icon-moon:after, .icon-no-handwashing:after, .icon-no-spin:after, .icon-notebook:after, .icon-office:after, .icon-piano:after, .icon-rocket:after, .icon-scale-1:after, .icon-scale-2:after, .icon-search:after, .icon-spatula:after, .icon-telescope:after, .icon-tooth:after, .icon-tree:after {
    color: #9456ba
}

.icon-camera:before, .icon-capitol:before, .icon-cassete:before, .icon-globe:before, .icon-hammer:before, .icon-handwashing:before, .icon-headphones-1:before, .icon-holder:before, .icon-house:before, .icon-ipad:before, .icon-lamp:before, .icon-lens:before, .icon-music:before, .icon-phone:before, .icon-roller:before, .icon-rover:before, .icon-space-helmet:before, .icon-university-hat:before, .icon-window:before {
    color: #9456ba
}